<table cellspacing="10px" cellpadding="10px" align="center">
  <thead style="background-color: grey">
    <tr>
      <th>USER</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of result.items">
      <td>
        {{ items.login }}
      </td>
      <td>
        {{ items.url }}
      </td>
    </tr>
  </tbody>
</table>
