<div class="container">
  <nav align="center" class="navbar">
    <input
      width="150"
      class="form-control"
      type="any"
      name="login"
      [(ngModel)]="filteredString"
      placeholder="Enter User Name to Search"
    />
  </nav>
  <div align="center">
    <h3>Total_count of Users : {{ result.total_count }}</h3>
  </div>
  <table cellspacing="10px" cellpadding="10px" align="center">
    <thead style="background-color: grey">
      <tr>
        <th>USER</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let items of result.items
            | filter: filteredString
            | paginate: { itemsPerPage: 10, currentPage: p }
        "
      >
        <td>
          <a [routerLink]="['/details']">{{ items.login }}</a>
        </td>
        <router-outlet></router-outlet>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>
